@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Shared style */
.primary-btn {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 34px;
  outline: none;
  border-style: none;
}

.section-title {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}

.section-text {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 24px auto;
  width: 643px;
}

/* Nav style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 80px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.logo img {
  width: 48px;
  height: 56px;
}
.logo h1 {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}
.logo-span {
  color: #ff5400;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

.link-list {
  display: flex;
  list-style: none;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
  gap: 44px;
}

.link-list li a {
  text-decoration: none;
  color: inherit;
}

.link-list li {
  color: #131318;
  &:hover {
    color: #ff5400;
  }
}

/* Hero section styles */
.hero-section {
  position: relative;
  margin: 50px 80px;
  border-radius: 16px;
}

.hero-overlay img {
  display: block;
  border-radius: 16px;
  width: 100%;
  height: auto;
}

.hero-ovralay {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  border-radius: 16px;
  width: 101%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
}

.hero-title {
  margin-top: 108px;
  color: #fff;
  font-family: Mulish;
  font-size: 55px;
  font-weight: 800;
}

.hero-text {
  width: 676px;
  margin: 24px auto;
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 64px;
  line-height: 26px;
}

.hero-inputs {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.hero-inputs input {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 52px;
  outline: none;
  border-style: none;
  padding-left: 7px;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button .faa {
  margin-right: 5px;
}

.hero-inputs .fa {
  position: relative;
  right: 28px;
}

/* Popular section */

.popular {
  margin: 100px 70px;
  gap: 53px;
  display: flex;
}

.popular-content {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.popular-title {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}

.popular-img img {
  height: 550px;
  width: 540px;
}

.popular-text {
  margin: 25px auto;
}

.popular-content ul li {
  margin: 16px auto;
  margin-left: 20px;
}

/* Destination section */
.destination {
  margin: 0 80px;
  margin-bottom: 100px;
}

.grid-img {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  margin-top: 48px;
}

.grid-img .maldives,
.grid-img .indonesia,
.grid-img .srilanka,
.grid-img .northamerica,
.grid-img .kashmir,
.grid-img .bangladesh,
.grid-img .bandarban {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 16px;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  height: 286px;

  opacity: 0;
  transition: opacity 0.5s;
}

.grid-img .image-overlay,
.grid-img .image-overlay,
.grid-img .image-overlay,
.grid-img .image-overlay,
.grid-img .image-overlay,
.grid-img .image-overlay,
.grid-img .image-overlay {
  opacity: 1;
}

.grid-img img {
  width: 100%;
  height: 286px;
  border-radius: 10px;
  transition: transform 0.5s;
}

.maldives,
.indonesia {
  grid-column: span 6;
}

.kashmir {
  grid-column: span 3;
}

.srilanka {
  grid-column: span 4;
}
.northamerica {
  grid-column: span 5;
}
.bangladesh,
.bandarban {
  grid-column: span 6;
}

/* Choose us section style */
.choose-us {
  margin: 0 80px;
}
.single-card {
  width: 520px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 32px;
}

.hotels-card {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.hotels-card img {
  margin-bottom: 32px;
}

.choose-row {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}
.card-title {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
}

.card-text {
  color: #5a5a5d;
  font-family: Mulish;
  font-weight: 400;
  line-height: 26px;
  width: 486px;
}

.world-class-card {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.best-price-card {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  margin: 0 auto;
  margin-top: 24px;
}

/* News letter section style */
.news-letter {
  margin: 100px 80px;
  display: flex;
  gap: 24px;
}
.subscribe-form {
  width: 474px;
  height: 344px;
  border-radius: 16px;
  padding: 40px;
  border: 1px solid #ff5400;
}
.form-title {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
}
.form-text {
  color: #5a5a5d;
  margin-top: 16px;
  margin-bottom: 24px;
  font-family: Mulish;
  font-size: 16px;
  width: 350px;
  font-weight: 400;
  line-height: 26px;
}

.subscribe-form input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  width: 393px;
  height: 52px;
  border-style: none;
  margin-bottom: 24px;
}

.subscribe-form hr {
  background: rgba(84, 84, 88, 0.1);
  width: 393px;
  margin-bottom: 24px;
}

.sub-btn {
  width: 393px;
}

.disc-overlay {
  border-radius: 16px;
  background: #ff5400;
  width: 290px;
  height: 90px;
  padding: 30px;
  position: relative;
  bottom: 206px;
  left: 306px;
  transform: rotate(-19.628deg);
}

.disc-title {
  color: #fff;
  font-family: Mulish;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.disc-text {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 400;
}

/* Footer section styles */

.footer-section {
  background: rgba(19, 19, 24, 0.05);
  text-align: center;
  padding-top: 2px;
  padding-bottom: 80px;
}
.footer-logo {
  margin: 0px 538px;
  margin-top: 80px;
  margin-bottom: 15px;
}
.footer-text {
  color: #5a5a5d;
  width: 769px;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 33px;
  font-weight: 400;
  line-height: 26px;
}

.links {
  font-size: 24px;
  margin-bottom: 100px;
}
.links .fi {
  margin-right: 20px;
}

.rights {
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
}
